---
import Defualt from '../layouts/default.astro';
import HeroBanner from "../components/shared/hero_banner.astro";
import HeroBannerImage from "../../public/images/coolashack5.jpg";
import Card from "../components/UI_components/eventscard.astro"
---

<Defualt tab_title="Events - Youthacks">
    <HeroBanner image_path={HeroBannerImage.src} text="<Events>"/>
    <section id="event-section" class="events">
        <div class="container">
        </div>
    </section>
</Layout></p>
