---
import Defualt from '../layouts/default.astro';
import HeroBanner from "../components/shared/hero_banner.astro";
import HeroBannerImage from "../../public/images/coolashack5.jpg";
import Card from "../components/UI_components/eventscard.astro"
---

<Defualt tab_title="Events - Youthacks">
    <HeroBanner image_path={HeroBannerImage.src} text="<Events>"/>
    <section id="event-section" class="events">
        <div class="container">
        <h1>Our Past Events</h1>
        </div>
        <Card>Counterspell Cambridge</Card>
        <Card>Scrapyard London</Card>
        <Card>Scrapyard Cambridge</Card>
        <Card>Cool as Hack</Card>
        <h1>Upcoming events</h1>
        <Card>Daydream Cambridge</Card>
        <Card>Daydream London</Card>
        <Card>Daydream Brighton</Card>
    </section>
</Layout></p>


<style>
    h1 {
      font-family: "Atkinson Hyperlegible", sans-serif;
      text-align: center;
    }
</style>